<!DOCTYPE html>
<html lang="${#locale.language}" xmlns:th="http://www.thymeleaf.org/" xmlns="http://www.w3.org/1999/xhtml" layout:decorator="layouts/default">
<body>
	<div id="uploadPage" layout:fragment="content">
	
<!-- 	<iframe src="http://www.brabotim.tk/pdf/web/viewer.html?file=poc.pdf" width="600px" height="800px"></iframe> -->
<!-- 	<iframe src="file=C:/cardapio/menu1.pdf" width="600px" height="800px"></iframe> -->
<!-- 	<embed src="/var/run/overqueue/menu/menu1.pdf" type="application/pdf" /> -->
<!-- 	<iframe src="/var/run/overqueue/menu/menu1.pdf" width="600px" height="800px"></iframe> -->
<!-- 	<iframe src="http://www.brabotim.tk/pdf/web/viewer.html?file=poc.pdf" width="600px" height="800px"></iframe> -->
</body>
</html>