<!-- Footer -->
<div class="footer text-center" th:fragment="footer">
	<footer id="footer" class="p-2 bg-light d-none">
		<div class="container">
			<div class="row">
				<div class="col-lg-6 h-100 text-center text-lg-left my-auto"> &copy; 
					<span class="text-muted small mb-4 mb-lg-0" th:text="#{allRights}"></span>
				</div>
				<div class="col-lg-6 h-100 text-center text-lg-right my-auto">
					<ul class="list-inline mb-0">
						<li class="list-inline-item mr-3">
							<a href="https://brabotim.tk"><i class="fab fa-wordpress-simple fa-2x fa-fw"></i></a>
						</li>
						<li class="list-inline-item mr-3">
							<a href="https://www.youtube.com/channel/UCiFI7PoNjV2JCHT428P9cmg"><i class="fab fa-youtube fa-2x fa-fw text-danger"></i>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</footer>

	
	<!-- Bootstrap core JavaScript -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>

	<!-- Styles -->
	<link rel="stylesheet" type="text/css" media="all" href="../../css/styles.css" th:href="@{/css/styles.css}" />
  	
  	<!-- Scripts -->
  	<script type="text/javascript" th:src="@{/js/script.js}" src="../static/js/script.js"></script>
	<script type="text/javascript" th:src="@{/js/internationalization.js}" src="../static/js/internationalization.js"></script>
	<script src="https://cdn.jsdelivr.net/gh/shishirraven/animate-on-scroll@v1.0/oyethemes_onscroll_animation.js"></script>