<head th:fragment="head">

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

	<!-- <meta http-equiv="Content-Security-Policy" content="default-src 'none'" > -->			
																											 
	<meta http-equiv="Content-Security-Policy" content="script-src 'unsafe-inline' 'self' https://status.overqueue.tk https://ajax.googleapis.com https://fonts.googleapis.com https://fonts.gstatic.com https://cdnjs.cloudflare.com https://cdn.jsdelivr.net">
	<meta http-equiv="Content-Security-Policy" content="style-src 'unsafe-inline' 'self' https://status.overqueue.tk https://ajax.googleapis.com https://fonts.googleapis.com https://fonts.gstatic.com https://cdnjs.cloudflare.com https://cdn.jsdelivr.net">
	<meta http-equiv="Content-Security-Policy" content="img-src 'self' https://status.overqueue.tk https://ajax.googleapis.com https://fonts.googleapis.com https://fonts.gstatic.com https://cdnjs.cloudflare.com">
	<meta http-equiv="Content-Security-Policy" content="connect-src 'self' https://status.overqueue.tk https://ajax.googleapis.com https://fonts.googleapis.com https://fonts.gstatic.com https://cdnjs.cloudflare.com">
	
	<meta http-equiv="Referrer-Policy: no-referrer-when-downgrade">
	
	<meta http-equiv="Feature-Policy" content="notifications 'self' https://status.overqueue.tk">
	<meta http-equiv="Feature-Policy" content="push 'self' https://status.overqueue.tk">
	<meta http-equiv="Feature-Policy" content="sync-xhr 'self' https://status.overqueue.tk">
	<meta http-equiv="Feature-Policy" content="vibrate 'self' https://status.overqueue.tk">
	<meta http-equiv="Feature-Policy" content="fullscreen 'self' https://status.overqueue.tk">
	<meta http-equiv="Feature-Policy" content="gyroscope 'self' https://status.overqueue.tk">
	<meta http-equiv="Feature-Policy" content="microphone 'none'">
	<meta http-equiv="Feature-Policy" content="camera 'none'">
	<meta http-equiv="Feature-Policy" content="magnetometer 'none'">
	<meta http-equiv="Feature-Policy" content="speaker 'none'">
	<meta http-equiv="Feature-Policy" content="payment 'none'">
	<meta http-equiv="Feature-Policy" content="geolocation 'none'">
	<meta http-equiv="Feature-Policy" content="midi 'none'">
	

  <title>OverQueue</title>


  <!-- Bootstrap core CSS -->
  <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom fonts for this template -->
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.2/css/all.min.css" rel="stylesheet">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/simple-line-icons/2.4.1/css/simple-line-icons.css" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">

  <!-- Custom styles for this template -->
  <link href="https://cdnjs.cloudflare.com/ajax/libs/startbootstrap-landing-page/5.0.6/css/landing-page.min.css" rel="stylesheet">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.0/animate.min.css">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/shishirraven/animate-on-scroll@v1.2/animation_utility.css">


</head>