<!DOCTYPE html>
<html lang="${#locale.language}" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml" layout:decorator="layouts/default">
<div id="forgotPassword" layout:fragment="content">

<div class="container align-content-center" id="forgotPassword" style="padding:20px;">
	<div class="row">
		<div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
			<div class="card card-signin my-5">
				<div class="card-body">
					<h2 class="text-center" th:text="#{forgotPassword.forgotPassword}"></h2>
					<form th:action="@{/resetpasswordinstruction}" th:object="${user}" method="POST">
						<input type="text" class="form-control mt-3" th:field="*{username}" th:placeholder="#{forgotPassword.username}" required>
						<input type="text" class="form-control mt-3" th:field="*{phoneNumber}" th:placeholder="#{forgotPassword.phoneNumber}" required>
						
						<button type="submit" class="btn btn-dark btn-lg form-control mt-3 text-uppercase" th:text="#{forgotPassword.sendSolicitation}"></button>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>

<div th:if="${param.error}">
	<span class="container card alert alert-danger mb-5 mt-5">Erro no envio do SMS de recuperação de senha.</span>
</div>
	

</body>