<!DOCTYPE html>
<html lang="${#locale.language}" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml" layout:decorator="layouts/default">
<div id="resetPassword" layout:fragment="content">

<div class="container card border-muted mb-5 mt-5" id="resetPassword" style="padding:20px;">
  
  <h2 class="text-center" th:text="#{resetpassword.passwordRecovery}"></h2>
	<form action="#" th:action="@{/newpassword}" th:object="${user}" method="post">
	    
	    <input class="form-control mt-3" type="text" id="name" th:field="*{username}" th:placeholder="#{resetpassword.user}" required>
	    
	    <input class="form-control mt-3" type="text" id="phoneNumber" th:field="*{phoneNumber}" th:placeholder="#{resetpassword.phoneNumber}">
	
	    <input class="form-control mt-3" type="password" id="psw" th:field="*{password}" th:placeholder="#{resetpassword.password}" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,30}" th:title="#{resetpassword.passwordNotCompliance}" required>
	    
	    <input class="form-control mt-3" type="password" id="psw2" th:field="*{passwordConfirm}" th:placeholder="#{resetpassword.confirmPassword}" required>
	    
	    <input class="form-control mb-4 mt-3" type="number" id="code" th:field="*{passwordToken}" th:placeholder="#{resetpassword.verificationCode}" required>
	    
	    <input class="btn btn-dark form-control" type="submit" id="submit" th:value="#{resetpassword.confirm}" disabled>
	</form>
</div>

<div th:if="${param.error}">
		<span class="container card alert alert-danger mb-5 mt-5" th:text="#{resetpassword.invalidData}"></span>
</div>

<div class="container card border-muted mb-5 mt-5" id="message" style="padding: 20px;">
  <h5 class="text-center" th:text="#{resetpassword.passwordReq}"></h5>
  <p id="letter" class="invalid lead" th:text="#{resetpassword.req_lowerCase}"></p>
  <p id="capital" class="invalid lead" th:text="#{resetpassword.req_upperCase}"></p>
  <p id="number" class="invalid lead" th:text="#{resetpassword.req_number}"></p>
  <p id="length" class="invalid lead" th:text="#{resetpassword.req_pwdNumberOfChar}"></p>
</div>

</body>