<!DOCTYPE html>
<html lang="${#locale.language}" xmlns:th="http://www.thymeleaf.org/" xmlns="http://www.w3.org/1999/xhtml" layout:decorator="layouts/default">
<body>
	<div id="resetPasswordInst" layout:fragment="content">
		<header class="text-center">
			<div class="overlay"></div>
			<div class="container">
				<div class="row">
					<div class="col-xl-9 mx-auto">
						<span class="container mt-5" style="font-weight: bold; font-size: 1.5em;" th:text="#{resetPasswordInstructions.instructions}"></span>
							<a href="/reset-password" style="font-weight: bold; font-size: 1.5em;">
							<span class="container mt-5" style="font-weight: bold; font-size: 1.0em;" th:text="#{resetPasswordInstructions.clickHere}"></span>
						</a>
						<button href="/home" class="mt-2 form-control btn btn-primary" th:text="#{resetPasswordInstructions.return}"></button>
					</div>
				</div>
			</div>
		</header>
</body>
</html>